[buildout]
develop = .
parts = python-local scripts

[python-local]
recipe = zc.recipe.egg
interpreter = python-local
eggs = owyl
       nose
       mocker
       figleaf
       ipython
extra-paths = ${buildout:directory}/parts/site-packages/ 
	      ${buildout:directory}/tests/
	      ${buildout:directory}/src/

[scripts]
recipe = zc.recipe.egg:scripts
eggs = owyl
